<h1>本の詳細</h1>

<%= link_to '画像を新しく登録する', new_book_image_path(@book), class: 'btn btn-primary mb-1' %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ページ</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @book.images.each do |image| %>
      <tr>
        <td><%= image.page_number %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

