<div class="menu">
  <div class="container">
    <div class="nav navbar navbar-expand-sm navbar-custom">
      <%= link_to 'OCRアプリ', root_path, class: 'navbar-brand' %>
      <div class="navbar-nav">

      </div>
    </div>
  </div>
</div>
