<%= form_with model: @image, url: book_images_path, html: { multipart: true, id: "file_form" } do |form| %>
  <%= form.hidden_field :book_id, value: @book_id %>
  <div id="dropzone" style="border: 2px dashed #ccc; padding: 20px; width: 300px; text-align: center;">
    ここにファイルをドラッグ＆ドロップ
  </div>
  <ul id="fileList"></ul>
  <%= form.file_field :images, multiple: true, direct_upload: true, style: "display: none;", id: "fileInput" %>
  <%= form.submit "アップロード" %>
<% end %>
